<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.waao.utools" version = "1.0">
   
   <name>UTools</name>
   
   <description>Some tools for ukulele players</description>
   
   <author>Walter Alexandre A. de Oliveira</author>
   
   <preference name = "permissions" value = "none"/>
   <preference name = "fullscreen" value = "true"/>
   <preference name = "orientation" value = "landscape"/>
   
   <icon src = "res/icon/android/drawable-ldpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "ldpi" />
   <icon src = "res/icon/android/drawable-mdpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "mdpi" />
   <icon src = "res/icon/android/drawable-hdpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "hdpi" />
   <icon src = "res/icon/android/drawable-xhdpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "xhdpi" />
   <icon src = "res/icon/android/drawable-xxhdpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "xxhdpi" />
   <icon src = "res/icon/android/drawable-xxxhdpi/ic_launcher.png" gap:platform = "android" gap:qualifier = "xxxhdpi" />
</widget>